{% extends 'base.html' %}

{% block content %}
        <div class="row">
            <div class="col-md-3"><img src="{{ data.medium_cover_image }}" /></div>
            <div class="col-md-6">
                <h5 class="display"> {{ data.title }}</h5>
                <div>{{ data.year }}</div>
                <div>{% for gener in data.genres %}
                    {{ gener }}
                    {% endfor %}</div>
                <div>
                    Available in : {% for torrent in data.torrents %}<a class="btn btn-info" href="{{ torrent.url }}">{{ torrent.quality }} [{{ torrent.size }}]</a> {% endfor %}
                </div>
                <div><img src="https://yts.am/assets/images/website/logo-imdb.svg" /> {{ data.rating }}</div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row py-4">
            <div class="col-md-4"><img src="https://img.yts.am/assets/images/movies/{{ data.slug | replace('-','_') }}/medium-screenshot1.jpg" /></div>
            <div class="col-md-4"><img src="https://img.yts.am/assets/images/movies/{{ data.slug | replace('-','_') }}/medium-screenshot2.jpg" /></div>
            <div class="col-md-4"><img src="https://img.yts.am/assets/images/movies/{{ data.slug | replace('-','_') }}/medium-screenshot3.jpg" /></div>
        </div>
        <div class="row">
            <div class="col"><p>{{ data.description_intro }}</p></div>
        </div>

        <div class="row">

        </div>
{% endblock %}